header {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	background-color: whitesmoke;
}

header h1 {
	line-height: 1em;
	color: black;
	text-align: center;
	padding: 0 2em;
	font-size: 1.5em;
}
/* © 2020 GitHub, Inc. */